<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Input Form</title>
    </head>

    <body>
        <h1>
            입력 폼임
        </h1>
        <form action="/" method="post">
            <input type="text" class="form-control" name="name"><br>
            <input type="text" class="form-control" name="title"><br>
            <input type="text" class="form-control" name="content"><br>
            <button type="submit">보내기</button>
        </form>
    </body>
</html>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Input Form</title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <form action="/" method="post">
                        <input type="text" class="form-control" name="name"><br>
                        <input type="text" class="form-control" name="title"><br>
                        <input type="text" class="form-control" name="content"><br>
                        <button type="submit">보내기</button>
                    </form>  
                </td>
                <td>
                    <table action="/" method="get" class="list" id="setList">
                        <thead>
                            <tr>
                                <th>이름</th>
                                <th>제목</th>
                                <th>내용</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
      </body>
</html>